@page
@model GenerateRecoveryCodesModel
@inject IViewLocalizer _loc
@{
    ViewData["Title"] = "Zwei-Faktor-Authentifizierung (2FA).";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        @_loc["<strong>Bewahren Sie diese Codes an einem sicheren Ort auf.</strong>"]
    </p>
    <p>
        @_loc["Wenn Sie Ihr Gerät verlieren und die Wiederherstellungscodes nicht haben, verlieren Sie den Zugriff auf Ihr Konto."]
    </p>
    <p>
        @_loc["Durch das Generieren neuer Wiederherstellungscodes werden die in Authentifikator-Apps verwendeten Schlüssel nicht geändert. Wenn Sie den in einer Authentifizierungs-App verwendeten Schlüssel ändern möchten, sollten Sie <a asp-page=\"./ResetAuthenticator\">Ihre Authentifizierungsschlüssel zurücksetzen.</a>"]
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">@_loc["Wiederherstellungscodes generieren"] </button>
    </form>
</div>
