@page
@using Microsoft.EntityFrameworkCore
@using TestingApp.Data
@inject ApplicationDbContext _context
@model TestingApp.Areas.Identity.Pages.Account.Manage.PurchasesModel
@inject IViewLocalizer _loc
@{
    ViewData["Title"] = "Purchases";
    ViewData["ActivePage"] = ManageNavPages.Purchases;

    var user = _context.Users.FirstOrDefault(x => x.UserName == User.Identity.Name);
    var payments = _context.Payments.Include(x => x.Articles).Where(x => x.PersonId == user.Id).OrderByDescending(x => x.Date);

    var topups = _context.TopUps.Include(x => x.Executor).Where(x => x.PersonId == user.Id).OrderByDescending(x => x.Date);
}

<style>
.table-fixed{
  width: 100%;
  background-color: #f3f3f3;
}
tbody{
overflow-y:scroll;
width: 100%;
}


</style>

<h3>@_loc["Käufe"]</h3>
<table class="table table-fixed table-striped">
    <thead>
        <tr>
            <th>@_loc["Id"]</th>
            <th>@_loc["Datum"]</th>
            <th>@_loc["Beschreibung"]</th>
            <th>@_loc["Preis"]</th>
            <th>@_loc["Artikel Anzahl"]</th>
            <th>@_loc["Aktion"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payment in payments)
        {
        <tr>
            <td>@payment.PaymentId</td>
            <td>@payment.Date</td>
            <td>@payment.Description</td>
            <td>@payment.CashAmount €</td>
            <td>@payment.Articles.Count</td>
            <td>
                <a class="btn btn-primary" asp-controller="UserRoles" asp-action="PaymentDetails" asp-route-paymentId="@payment.PaymentId">@_loc["Details"]</a>
            </td>
        </tr>
        }
    </tbody>
</table>


<h3>@_loc["Aufladungen"]</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@_loc["Id"]</th>
            <th>@_loc["Datum"]</th>
            <th>@_loc["Beschreibung"]</th>
            <th>@_loc["Aufladungsmenge"]</th>
            <th>@_loc["Ausführender"]</th>
            <th>@_loc["Aktion"]</th>
        </tr>
    </thead>
    <tbody style="height:auto">
        @foreach (var payment in topups)
        {
        <tr>
            <td>@payment.TopUpId</td>
            <td>@payment.Date</td>
            <td>@payment.Description</td>
            <td>@payment.CashAmount €</td>
            <td>@payment.Executor.UserName</td>
            <td>
                <a class="btn btn-primary" asp-controller="UserRoles" asp-action="TopUpDetails" asp-route-paymentId="@payment.TopUpId">@_loc["Details"]</a>
            </td>
        </tr>
        }
    </tbody>
</table>