@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@inject IViewLocalizer _loc
@{
    ViewData["Title"] = @_loc["Zwei-Faktor Authentifizierung (2FA)"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">                    
                    @_loc["<strong>Du hast keine Wiederherstellungscodes mehr übrig</strong>"]
                    @_loc["<p>Du musst neue <a asp-page=\"./GenerateRecoveryCodes\">Wiederherstellungscodes </a>generieren bevor du dich mit einem Wiederherstellungscode anmelden kannst</p>"]
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    @_loc["<strong>Du hast 1 Wiederherstellungscode übrig</strong>"]                    
                    @_loc["<p>Du kannst <a asp-page=\"./GenerateRecoveryCodes\">neue Wiederherstellungscodes</a> generieren lassen.</p>"]
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    @_loc["<strong>Du hast noch {0} Wiederherstellungscodes übrig.</strong>", @Model.RecoveryCodesLeft]
                    @_loc["<p>Du kannst <a asp-page=\"./GenerateRecoveryCodes\">neue Wiederherstellungscodes</a> generieren lassen.</p>"]
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">@_loc["Diesen Browser vergessen"]</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">@_loc["2FA deaktivieren"]</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">@_loc["Wiederherstellungscodes zurücksetzen"]</a>
        }

        <h4>@_loc["Authentifikationsapp"]</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@_loc["Authentifizerungsapp hinzufügen"]</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@_loc["Authentifizerungsapp aufsetzen"]</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">@_loc["Authentifizerungsapp zurücksetzen"]</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            @_loc["<strong>Datenschutz und Cookies wurden noch nicht akzeptiert.</strong>"]
            @_loc["<p>Du musst den Bestimmungen zustimmen bevor du 2FA aktivieren kannst.</p>"]
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
