@model DataAccess.Models.Article

@{
    Layout = "_Layout";
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price.PriceId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ArticleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
