@using Microsoft.AspNetCore.Mvc.Localization
@using ViewModels
@model List<ArticleWithPriceVM>

@inject IViewLocalizer _loc
@{
    ViewData["Title"] = "Products";
    Layout = "~/Pages/Shared/_Layout.cshtml";

    var drinks = Model.Where(x => x.Type == "Drink").ToList();
    var food = Model.Where(x => x.Type == "Food").ToList();
    var stuff = Model.Where(x => x.Type == "Else").ToList();
}

<div class="container">
    <div class="row">
        <div class="col-sm-10">
    <h1>@_loc["AllProducts"]</h1>
    <br />
    <h2>@_loc["Drinks"]</h2>
    <hr />
    @if (!Model.Any(x => x.Type == "Drink"))
    {
        <h3>@_loc["Nothing Left"]</h3>    
    }else{
        <div class="container">
            @for (int i = 0; i < drinks.Count; i+=3)
            {
                <div class="row gy-5" style="margin-top: 20px">
                    @for (int x = i; x < i+3 && x < drinks.Count; x++)
                    {
                        <div class="col">
                            <a asp-action="Buy" asp-route-id="@drinks[x].Id" style="color: black; text-decoration:none">
                                <div class="card" style="width: 18rem;">
                              <img class="card-img-top" src="data:image/*;base64,@(Convert.ToBase64String(drinks[x].ImageData))" alt="@drinks[x].Name">
                                  <div class="card-body">
                                    <h5 class="card-title">@drinks[x].Name</h5>
                                        <p class="card-text">
                                            <div>
                                                <strong>Price:</strong> @drinks[x].PriceAmount €
                                            </div>
                                            <div>
                                                <strong>Amount Left:</strong> @drinks[x].Amount
                                            </div>
                                        </p>
                                  </div>
                            </div>
                            </a>
                        </div>
                        @if (drinks.Last().Equals(drinks[x]))
                        {
                            <div class="col">
                                <!-- Empty Col for displaying the cards fittingly-->
                            </div>
                        }
                    }
                </div>
            } 
            </div>
        
        <br />
        <h2>@_loc["Food"]</h2>
        <hr />
        @if (!food.Any())
        {
            <h3>@_loc["Nothing Left"]</h3>    
        }else
        {
            <div class="container">
            @for (int i = 0; i < food.Count; i+=3)
            {
                <div class="row gy-5" style="margin-top: 20px">
                    @for (int x = i; x < i+3 && x < food.Count; x++)
                    {
                        <div class="col">
                            <a asp-action="Buy" asp-route-id="@food[x].Id" style="color: black; text-decoration:none">
                                <div class="card" style="width: 18rem;">
                              <img class="card-img-top" src="data:image/*;base64,@(Convert.ToBase64String(food[x].ImageData))" alt="@food[x].Name">
                                  <div class="card-body">
                                    <h5 class="card-title">@food[x].Name</h5>
                                        <p class="card-text">
                                            <div>
                                                <strong>Price:</strong> @food[x].PriceAmount €
                                            </div>
                                            <div>
                                                <strong>Amount Left:</strong> @food[x].Amount
                                            </div>
                                        </p>
                                  </div>
                            </div>
                            </a>
                        </div>
                        @if (food.Last().Equals(food[x]))
                        {
                            <div class="col">
                                <!-- Empty Col for displaying the cards fittingly-->
                            </div>
                        }
                    }
                </div>
            } 
            </div>
            }        
        }
        <br />
        <h2>@_loc["Else"]</h2>
        <hr />

        @if (!stuff.Any())
        {
            <h3>@_loc["Nothing Left"]</h3>    
        }else
        {
            <div class="container">
            @for (int i = 0; i < stuff.Count; i+=3)
            {
                <div class="row gy-5" style="margin-top: 20px">
                    @for (int x = i; x < i+3 && x < stuff.Count; x++)
                    {
                        <div class="col">
                            <a asp-action="Buy" asp-route-id="@stuff[x].Id" style="color: black; text-decoration:none">
                                <div class="card" style="width: 18rem;">
                              <img class="card-img-top" src="data:image/*;base64,@(Convert.ToBase64String(stuff[x].ImageData))" alt="@stuff[x].Name">
                                  <div class="card-body">
                                    <h5 class="card-title">@stuff[x].Name</h5>
                                        <p class="card-text">
                                            <div>
                                                <strong>Price:</strong> @stuff[x].PriceAmount €
                                            </div>
                                            <div>
                                                <strong>Amount Left:</strong> @stuff[x].Amount
                                            </div>
                                        </p>
                                  </div>
                            </div>
                            </a>
                        </div>
                        @if (stuff.Last().Equals(stuff[x]))
                        {
                            <div class="col">
                                <!-- Empty Col for displaying the cards fittingly-->
                            </div>
                        }
                    }
                </div>
            } 
            </div> 
        }
        </div>
        <!-- Cart -->
        <div class="col-sm-1">
            <div class="container" style="position: fixed; right: 0; width: 28%">
                <table class="table table-striped" style="position: sticky">
                    <tr>
                        <th>@_loc["Name"]</th>
                        <th>@_loc["Price"]</th>
                        <th>@_loc["Name"]</th>
                        <th>@_loc["Sub Total"]</th>
                        <th>@_loc["Action"]</th>
                    </tr>
                    @if (ViewBag.cart != null)
                    {
                        @foreach (ArticleWithPriceVM item in ViewBag.cart)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.PriceAmount</td>
                                <td>@item.Amount</td>
                                <td>@(item.PriceAmount * item.Amount)</td>                        
                                <td><a asp-controller="Products" asp-action="Remove" asp-route-id="@item.Id">@_loc["Remove"]</a></td>
                            </tr>
                            <tr>
                                <td>@_loc["Sum"]</td>
                                <td>
                                    @ViewBag.total
                                </td>
                            </tr>
                            <tr>
                                <td><a class="btn btn-primary" asp-controller="Products" asp-action="Purchase">@_loc["Buy"]</a></td>
                            </tr>
                        }
                    }
                    
                </table>
            </div>
        </div>
    </div>
</div>

