@using Microsoft.AspNetCore.Mvc.Localization
@using TestingApp.ViewModels
@model List<UserRolesViewModel>

@inject IViewLocalizer _loc

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@_loc["Alle Benutzer"]</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@_loc["Benutzername"]</th>
            <th>@_loc["Vorname"]</th>
            <th>@_loc["Nachname"]</th>
            <th>@_loc["Kontostand"]</th>
            <th>@_loc["Kommentar"]</th>
            <th>@_loc["Datum offene Kasse"]</th>
            <th>@_loc["Offene Kasse max Wert"]</th>
            <th>@_loc["Rolle"]</th>
            <th>@_loc["Aktion"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td>@user.Username</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Balance</td>
            <td>@user.Comment</td>
            <td>@user.OpenCheckoutDate</td>
            <td>@user.OpenCheckoutValue</td>
            <td>@user.Role</td>
            <td>
                <a class="btn btn-primary" asp-controller="UserRoles" asp-action="Edit" asp-route-userId="@user.Id">@_loc["Bearbeiten"]</a> |
                <a class="btn btn-primary" asp-controller="UserRoles" asp-action="Details" asp-route-userId="@user.Id">@_loc["Details"]</a>
            </td>
        </tr>
        }
    </tbody>
</table>