@using Microsoft.AspNetCore.Mvc.Localization
@using ViewModels
@model PaymentVM
@inject IViewLocalizer _loc
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@(_loc["Bezahlung "].Value + Model.PaymentId + _loc[" Details"].Value)</h1>

 <dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Date)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Date)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CashAmount)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CashAmount) €
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Description)
    </dd>
    
</dl>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@_loc["Artikel Id"]</th>
            <th>@_loc["Name"]</th>
            <th>@_loc["Artikel Preis"]</th>
            <th>@_loc["Anzahl"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var art in Model.Articles)
        {
        <tr>
            <td>@art.Id</td>
            <td>@art.Name</td>
            <td>@art.Price.Amount</td>
            <td>@art.Amount</td>
        </tr>
        }
    </tbody>
</table>
<a class="btn btn-warning" onclick="history.go(-1)">@_loc["Zurück"]</a>