@using ViewModels
@model PaymentVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@("Payment " + Model.PaymentId + " Details")</h1>

 <dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Date)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Date)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CashAmount)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CashAmount) €
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Description) €
    </dd>
    
</dl>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Article Id</th>
            <th>Name</th>
            <th>Price Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var art in Model.Articles)
        {
        <tr>
            <td>@art.Id</td>
            <td>@art.Name</td>
            <td>@art.Price.Amount</td>
        </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-controller="UserRoles" asp-action="Details" asp-route-userid="@Model.PersonId">Go Back</a>