@using ViewModels
@using static TestingApp.Extensions

@model ArticleWithPriceVM

@{
    ViewData["Title"] = "Create Article";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var list = new List<string>();


    foreach (var item in Enum.GetValues(typeof(ArtType)))
    {
        list.Add(item.ToString());
    }

    var modelType = list.FirstOrDefault(x => x == Model.Type.ToString());
}


<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label><br />
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label><br />
                <input min="0" asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="PriceAmount" class="control-label"></label><br />
                <input type="number" min="0" asp-for="PriceAmount" class="form-control" />
                <span asp-validation-for="PriceAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label><br />
                <select asp-for="Type" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option value="@modelType">@modelType</option>

                    @foreach (var item in list.Where(x => x != modelType))
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ImageData" style="width: 100%;"></label>
                <img id="ImageData" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.ImageData))">
                <input type="file"
                       accept=".png,.jpg,.jpeg,.gif,.tif"
                       asp-for="ImageData"
                       class="form-control"
                       style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                       onchange="document.getElementById('ImageData').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="ImageData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-warning" onclick="history.go(-1)">Go Back To Last Page</a>
                <a class="btn btn-danger" asp-controller="Article" asp-action="Remove" asp-route-id="@Model.Id">Delete Article</a>
            </div>
        </form>
    </div>
</div>
